In [1]:
from pyspark.sql.types import *
from pyspark.sql.functions import col,udf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
import pandas as pd
from pandas import DataFrame
import json
import s3fs
import string
from pandas.io.json import json_normalize


import sys
from pyspark import SparkContext
from boto.s3.connection import S3Connection
import re
from pyspark.sql.functions import lit
from pyspark import SparkConf, SparkContext
import os

In [2]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.amazonaws:aws-java-sdk-pom:1.11.115,org.apache.hadoop:hadoop-aws:2.7.2 pyspark-shell'

In [3]:
conf=SparkConf().setMaster("local").setAppName("twitter")
sc=SparkContext(conf=conf)

sqlContext = SQLContext (sc)
sc.setLogLevel("ERROR")

sc.setSystemProperty("com.amazonaws.services.s3.enableV4", "true")
sc._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.us-east-1.amazonaws.com")
sc._jsc.hadoopConfiguration().set("fs.s3a.access.key", "AKIAJJDTKJ6JYJDVCHBA")
sc._jsc.hadoopConfiguration().set("fs.s3a.secret.key","J/Mnt29ru+6HsfveUVa9jHHxEwBCvTdDmFo0ZgNM")
fs = s3fs.S3FileSystem(anon=False)

In [4]:
def removePunctuation(column):
    return trim(lower(regexp_replace(column, '[^\sa-zA-Z0-9]', '')))

#Replace turkish characters
def ReplaceTurkishCharsFunc(column):
    column=regexp_replace(column, 'İ', 'i')
    column=regexp_replace(column, 'ı', 'i')
    column=regexp_replace(column, 'Ö', 'o')
    column=regexp_replace(column, 'ö', 'o')
    column=regexp_replace(column, 'Ç', 'c')
    column=regexp_replace(column, 'ç', 'c')
    column=regexp_replace(column, 'Ş', 's')
    column=regexp_replace(column, 'ş', 's')
    
    column=regexp_replace(column, 'ğ', 'g')
    column=regexp_replace(column, 'Ğ', 'g')
    
    column=regexp_replace(column, 'ü', 'u')
    column=regexp_replace(column, 'Ü', 'u')
    column=regexp_replace(column, '0xC4', 'XX')
    column=regexp_replace(column, 'xfc', 'XX')
    column=regexp_replace(column, '\n', ' ')
    return column

In [5]:
#Read Schema
dfsc = sqlContext.read.json("/home/ubuntu/Schema_v1.json")
schema_json = dfsc.schema.json()
new_schema = StructType.fromJson(json.loads(schema_json))

In [6]:
#Twitter file path
fname="Tweets1.json"
#Output file name for cleaned text tweets
#fnameO='s3://twitterdataelection/TweetCleanData.txt'
#Read file from json file with the specific schema
jsonf = sqlContext.read.option("encoding", "utf-8").json(fname,schema=new_schema)
jsonf=jsonf.dropDuplicates()
jsonf.head(1)

[Row(created_at='Mon May 28 23:58:41 +0000 2018', id=1001251446778728448, id_str='1001251446778728448', lang='tr', retweet_count=335, retweeted=False, retweeted_status=Row(id=1000692311330840576, id_str='1000692311330840576'), text='RT @EnesAkenes: Chp\'ye OY YOK\n"Nankör olanın gözü çıksıınn..\nOyum TAYYİP\'E" diyor \n\nAblanın sebeplerini\nİZLEYİN...!!!\n#27Mayıs\n#MutluPazarl…')]

In [7]:
jsonf.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- id: long (nullable = true)
 |-- id_str: string (nullable = true)
 |-- lang: string (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- retweeted: boolean (nullable = true)
 |-- retweeted_status: struct (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- id_str: string (nullable = true)
 |-- text: string (nullable = true)

In [8]:
#Flatten the retweeted_status struct
jsonf2=jsonf.select( col("created_at").alias("tcreated_at"), col("id").alias("tid"), col("id_str").alias("tid_str"),"lang"  , "retweet_count","retweeted" ,"text", "retweeted_status.*")
jsonf2.head(1)

[Row(tcreated_at='Mon May 28 23:58:41 +0000 2018', tid=1001251446778728448, tid_str='1001251446778728448', lang='tr', retweet_count=335, retweeted=False, text='RT @EnesAkenes: Chp\'ye OY YOK\n"Nankör olanın gözü çıksıınn..\nOyum TAYYİP\'E" diyor \n\nAblanın sebeplerini\nİZLEYİN...!!!\n#27Mayıs\n#MutluPazarl…', id=1000692311330840576, id_str='1000692311330840576')]

In [9]:
jsonf2.printSchema()

root
 |-- tcreated_at: string (nullable = true)
 |-- tid: long (nullable = true)
 |-- tid_str: string (nullable = true)
 |-- lang: string (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- retweeted: boolean (nullable = true)
 |-- text: string (nullable = true)
 |-- id: long (nullable = true)
 |-- id_str: string (nullable = true)

In [10]:
jsonf3=jsonf2.select( "tcreated_at", "tid", "tid_str","lang" ,"retweet_count" ,"retweeted", ReplaceTurkishCharsFunc(col("text")).alias("text"), col("id").alias("rtid"),col("id_str").alias("rtid_str"))
jsonf3.head(1)

[Row(tcreated_at='Mon May 28 23:58:41 +0000 2018', tid=1001251446778728448, tid_str='1001251446778728448', lang='tr', retweet_count=335, retweeted=False, text='RT @EnesAkenes: Chp\'ye OY YOK "Nankor olanin gozu ciksiinn.. Oyum TAYYiP\'E" diyor   Ablanin sebeplerini iZLEYiN...!!! #27Mayis #MutluPazarl…', rtid=1000692311330840576, rtid_str='1000692311330840576')]

In [11]:
jsonf3.printSchema()

root
 |-- tcreated_at: string (nullable = true)
 |-- tid: long (nullable = true)
 |-- tid_str: string (nullable = true)
 |-- lang: string (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- retweeted: boolean (nullable = true)
 |-- text: string (nullable = true)
 |-- rtid: long (nullable = true)
 |-- rtid_str: string (nullable = true)

In [12]:
jsonf4=jsonf3.select( "tcreated_at", "tid", "tid_str","lang" ,"retweet_count" ,"retweeted", removePunctuation(col("text")).alias("text"), "rtid","rtid_str")
jsonf4.head(1)

[Row(tcreated_at='Mon May 28 23:58:41 +0000 2018', tid=1001251446778728448, tid_str='1001251446778728448', lang='tr', retweet_count=335, retweeted=False, text='rt enesakenes chpye oy yok nankor olanin gozu ciksiinn oyum tayyipe diyor   ablanin sebeplerini izleyin 27mayis mutlupazarl', rtid=1000692311330840576, rtid_str='1000692311330840576')]

In [13]:
jsonf4.printSchema()

root
 |-- tcreated_at: string (nullable = true)
 |-- tid: long (nullable = true)
 |-- tid_str: string (nullable = true)
 |-- lang: string (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- retweeted: boolean (nullable = true)
 |-- text: string (nullable = true)
 |-- rtid: long (nullable = true)
 |-- rtid_str: string (nullable = true)

In [14]:
#Add file name to dataframe
jsonf5=jsonf4.withColumn("fname", lit(fname))
#Convert to Pandas Dataframe
dfP=jsonf5.toPandas()
dfP.head(1)

,tcreated_at,tid,tid_str,lang,retweet_count,retweeted,text,rtid,rtid_str,fname
0,Mon May 28 23:58:41 +0000 2018,1.001251e+18,1001251446778728448,tr,335.0,False,rt enesakenes chpye oy yok nankor olanin gozu ...,1.000692e+18,1000692311330840576,Tweets1.json

In [15]:
#Add lenghth of tweets 
dfP['TLength'] = dfP['text'].str.len()

In [16]:
dfP.head(1)

,tcreated_at,tid,tid_str,lang,retweet_count,retweeted,text,rtid,rtid_str,fname,TLength
0,Mon May 28 23:58:41 +0000 2018,1.001251e+18,1001251446778728448,tr,335.0,False,rt enesakenes chpye oy yok nankor olanin gozu ...,1.000692e+18,1000692311330840576,Tweets1.json,123.0

In [17]:
#Total Number of Words in Tweets
dfP['TWCount']=dfP['text'].apply(lambda x: len(str(x).split(" ")))

Averages and Popularity

In [18]:
import numpy as np
mean = np.mean(dfP['TLength'])

print("The lenght's average in tweets: {}".format(mean))

The lenght's average in tweets: 116.88597537282435

In [19]:
meanw = np.mean(dfP['TWCount'])

print("The avarage of word that are used in tweets: {}".format(meanw))

The avarage of word that are used in tweets: 16.754540521347653

In [ ]:
#Joint Plot
%matplotlib inline
import seaborn as sns
    
x =dfP['TLength']
y =dfP['TWCount']
data = pd.DataFrame({
    'Character Length of Tweets': x,
    'Used Word Count of Tweets': y,
})

sns.jointplot(x='Character Length of Tweets', y='Used Word Count of Tweets', data=data, kind='reg',height=8,color="violet").plot_joint(sns.kdeplot, zorder=0, n_levels=20)

In [21]:
max_RetweetCount = np.max(dfP['retweet_count'])
fav = dfP[dfP.retweet_count == max_RetweetCount].index[0]
print("The tweet with more RT: \n{}".format(dfP['text'][fav]))
print("Number of likes: {}".format(max_RetweetCount))
print("{} characters.\n".format(dfP['TLength'][fav]))

The tweet with more RT:
rt btstwt   httpstcooz32cjdru8
Number of likes: 324835.0
30.0 characters.

In [22]:
#Language Column of the Tweets
dfP.lang.unique()

array(['tr', 'tl', 'und', 'es', 'de', 'en', 'in', 'pl', 'fr', 'ja', 'it',
       'pt', 'hu', 'th', 'eu', 'ro', 'ko', 'et', 'lt', 'sl', 'cs', 'cy',
       'is', 'hi', 'ht', 'sv', 'nl', 'fi', 'ur', 'ca', 'no', 'ml', None,
       'el', 'fa', 'da', 'ar', 'ru', 'km'], dtype=object)

In [ ]:
#For Group Lower Rank Langs in Pie Chart
def group_lower_ranking_values(column):
    pie_counts = dfP.groupby(column).agg('count')
    pct_value = pie_counts[lambda dfP: dfP.columns[0]].quantile(.35)
    values_below_pct_value = pie_counts[lambda df: df.columns[0]].loc[lambda s: s < pct_value].index.values
    def fix_values(row):
        if row[column] in values_below_pct_value:
            row[column] = 'Other'
        return row 
    pie_grouped = dfP.apply(fix_values, axis=1).groupby(column).agg('count')
    return pie_grouped

pie_sources = group_lower_ranking_values('lang')

In [ ]:
pie_sources

In [ ]:
WordArray=dfP["text"].str.split(" ",expand=True).stack().value_counts()
WordDict={"word": WordArray.index, "frequency":WordArray}
#Convert to pandas dataframe
dfWord=pd.DataFrame(data=WordDict)
#Eliminate nulls
dfWord=dfWord[(dfWord['word'] != "") == True]
dfWord.head()

In [ ]:
dfWord.sort_values(by=['frequency'], ascending=False)

In [ ]:
dfWordS=pd.DataFrame(dfWord.groupby('word')['frequency'].sum())
dfWordS['word'] = dfWordS.index
dfWordS.reset_index(drop=True)
dfWordS.sort_values(by='frequency', ascending=False)

In [ ]:
WordList=dfWordS["word"].values.tolist()
str1 = ' '.join(str(e) for e in WordList)

# Libraries
from wordcloud import WordCloud
import matplotlib.pyplot as plt
%matplotlib inline

# Create the wordcloud object
wordcloud = WordCloud(width=720, height=720, margin=0).generate(str1)
 
# Display the generated image:
plt.figure(figsize=(45,45),facecolor = 'black')
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")

plt.margins(x=0, y=0)
plt.show()

WORD COUNT

In [ ]:
#remove some words by list
List=["rt", "ve", "bir","ne","oldugunu","kadar","icinde","aylinerk","birakan","de","gosteren","her","der"]
dfWordS = dfWordS[dfWordS['word'].isin(List) == False]

In [ ]:
dfWordS=dfWordS.sort_values(by='frequency', ascending=False).head(20)
WordList=dfWordS["word"].values.tolist()
print(WordList)

In [ ]:
dffname=pd.read_csv("/home/ubuntu/TweetswCount.txt", encoding='utf-8',sep=';',engine='python',usecols=["tid","filename","tcreated_at","word","word_count"])

dffname.head(5)

In [ ]:
dffname = dffname[(dffname['tid'] != "tid") == True]
df=dffname[["tid","tcreated_at","word","word_count"]]
df=df.drop_duplicates()
df.info()

In [ ]:
df['tcreated_at'] = pd.to_datetime(df['tcreated_at'])
df['word_count']=pd.to_numeric(df['word_count'])

In [ ]:
df['day'] = df['tcreated_at'].dt.to_period('D')
df = df.set_index('day')
#df = df[df.index < '2018-06-07']
df.head()

In [ ]:
df.groupby(['word','day'])['word_count'].sum()

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
%matplotlib inline
plt.style.use('ggplot')
font = {'weight': 'normal',
        'size': 25,
        }
fig, ax = plt.subplots(figsize=(30,15))

ax.tick_params(direction='out', length=6, width=2, grid_color='r', grid_alpha=0.1,labelsize=15,which ="both")
plt.title('Word of Tweets By Day',fontdict=font)
plt.xlabel('Day', fontdict=font)
plt.ylabel('Count of Word', fontdict=font)
df.groupby(['day','word']).sum()['word_count'].unstack().plot(ax=ax)
leg = ax.legend(loc='upper left', frameon=True,prop={'size':20})

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
%matplotlib inline
plt.style.use('ggplot')
fig, ax = plt.subplots(figsize=(30,15))
ax.tick_params(direction='out', length=6, width=2, grid_color='r', grid_alpha=0.1,labelsize=15,which ="both")
plt.title('Word of Tweets By Day',fontdict=font)
plt.xlabel('Day', fontdict=font)
plt.ylabel('Count of Word', fontdict=font)
df.groupby(['day','word']).sum()['word_count'].unstack().plot(ax=ax,kind='area')
leg = ax.legend(loc='upper left', frameon=True,prop={'size':20})

In [ ]:
%matplotlib inline
plt.style.use('ggplot')
fig, ax = plt.subplots(figsize=(30,15))
ax.tick_params(direction='out', length=6, width=2, grid_color='r', grid_alpha=0.1,labelsize=15,which ="both")
plt.title('Tweets By Day',fontdict=font)
plt.xlabel('Day', fontdict=font)
plt.ylabel('Count of Tweets', fontdict=font)
z=df.groupby(['day']).count()['tid']
z.plot(ax=ax,kind='area')
leg = ax.legend(loc='upper left', frameon=True,prop={'size':20})

In [ ]:
sc.stop()